apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: mysql-pvc
  namespace: autoprotocoltrans
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
  # 如果需要指定存储类，取消注释下面一行并修改存储类名称
  # storageClassName: standard




